$color-primary-0601: #AA0601; //紅
$color-primary-0300: #650300; //深紅
$color-primary-1213: #9F1213;
$color-secondary: #FBF2F2;  //粉
$color-gray-7070: #707070; //灰色
$color-gray-0029: #00000029;
$color-gray-E2E6: #DEE2E6;
$color-gray-F2F2: #F2F2F2;
$color-gray-DCDC: #DCDCDC;
$color-gray-0020:#00000020;
$color-light: #FFFFFF;
$color-dark: #000000;
$color-dark-5555: #555555;
$color-dark-2529:#212529;
$color-dark-5057: #495057;
$color-brown-3E2D: #5F3E2D;
$color-brown-5929: #B75929;
$color-blue-D4DA:#CED4DA;
